.commentArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.commentArt hr {
    width: 70%;
}

.commentArt form {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nameEamil {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.commentArt form .nameEamil label,
#cLabel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: #05ec10; */
}

.commentArt form label span {
    padding: 0 0.5rem;
}

.commentArt form label span sup {
    font-size: 1.1rem;
    color: #ffe600;
}

.commentArt form input {
    width: 100%;
    height: 3.5rem;
    border: 1px solid #05ec10;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.4rem;
}

.commentArt form textarea {
    width: 100%;
    height: 7rem;
    border: 1px solid #05ec10;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    resize: vertical;
}

.commentArt form button {
    &:disabled {
        background: none;
    }
}

.commentCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.commentCont article {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 1px 1px 2px 2px #fff;
    padding: 0.6rem;
    text-align: left;
    border-radius: 1rem;
}

.commentCont article h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #f0f0f0;
    background-color: #16004b;
    border-radius: 3rem;
}

.commentCont article pre {
    color: #b6b6b6;
    font-family:
        "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    font-size: 0.9rem;
}

@media (width<=780px) {
    .commentArt form {
        width: 80vw;
    }

    .nameEamil {
        flex-direction: column;
    }

    .commentArt hr {
        width: 90%;
    }

    .commentCont article {
        width: 80vw;
        flex-direction: column;
    }
}
