.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    text-shadow: .5rem .5rem 1rem 2rem #0a2417e1;
}

.contact hr {
    width: 15rem;
    border: 1px solid #8a8a8ade;
}

.contactHead {
    width: 100%;
    background-image: url('../../gallary/siteImgs/callCenter.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.cntcHeadSect {
    width: 100%;
    height: 100%;
    background-color: #010911bd;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cntcHeadSect h1 {
    font-size: 2.8rem;
    color: #f0f8ff;
}

.cntcHeadSect p {
    font-size: 1.1rem;
}

.contactBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.contactForm,
.cntcBdyImg {
    flex: 2;
    text-align: center;
}

.cntcBdyImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.cntcBdyImg img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.address p {
    text-align: left;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 2rem;
}

.contactForm form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.contactForm form label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.contactForm form span {
    padding: 0 .5rem;
    margin: .1rem;
}

.contactForm form input {
    margin: 0;
    width: 30rem;
    height: 4rem;
    background: none;
    border: 1px solid #2af18de1;
    padding: 1rem;
    border-radius: .7rem;
}

.contactForm form #message {
    margin: 0;
    width: 30rem;
    height: 10rem;
    resize: vertical;
    background: none;
    border: 1px solid #2af18de1;
    padding: 1rem;
    border-radius: .7rem;
    font-size: .9rem;
    font-weight: 550;
}

.contactForm form button {
    margin: 0;
    width: 15rem;
    background: none;
    border: 1px solid #2af18de1;
    padding: 1rem;
    border-radius: .7rem;
    font-size: 1rem;
    font-weight: 550;
    transition: all .3s ease-in-out;

    &:hover {
        background: #2af18de1;
        color: #002412e1;
    }

}


@media (width<=780px) {
    .cntcHeadSect {
        padding: 5rem 1rem;
    }

    .cntcHeadSect h1 {
        font-size: 1.1rem;
        color: #f0f8ff;
    }

    .cntcHeadSect p {
        font-size: .8rem;
    }

    .cntcBdyImg img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    .contactForm form input {
        margin: 0;
        width: 23rem;
    }

    .contactForm form #message {
        margin: 0;
        width: 23rem;
    }
}

@media (width<=350px) {

    .contactForm form input {
        width: 20rem;
        height: 3rem;
    }

    .contactForm form #message {
        width: 20rem;
    }
}